.logo {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #e9e9e9;
    height: 48px;
}

.logo img{
    width: 48px;
}
.logo span {
    font-size: 24px;
    padding-left: 15px;
}
.pc_footer {
    text-align: center;
    line-height: 50px;
}
.register {
    float: right !important;
}
.container {
    text-align: center;
    margin-top: 20px;
}
.left_container {
    float: left;
}
.left_container .carousel {
    float: left;
    width: 400px;
    margin-bottom: 20px;
}
.carousel img {
    width: 400px;
    height: 260px;
}
.tabs_news {
    /*float: left;*/
    width: 460px;
    padding-left: 20px;
    text-align: left;
}
.top_new_list_container {
    padding-bottom: 34px;
    margin-bottom: 20px;
}

.top_new_list ul li {
    color: #666;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 417px;
    float: left;
    text-overflow: ellipsis;
    padding-right: 30px;
}
.image_block {
    float: left;
    padding-right: 3px;
    padding-left: 3px;
    text-align: left;
    margin-bottom: 10px;
}
.image_wrap {
    margin-bottom: .2rem;
}
.image_card {
    margin-bottom: .45rem;
}
#J_article #content .section .img-wrap{
    padding-bottom: 0 !important;
}
.article_wrap {
    padding: 50px 0;
    font-size: 14px;
}
.article_wrap .detail_container img {
    width: 600px;
    margin: 20px;
}
figure.section {
    text-align: center;
}
h1.title {
    padding-bottom: .5rem;
    font-size: .4rem;
}
.article-src-time {
    font-weight: bold;
    margin-bottom: 20px;
}
.video_iframe {
    margin: .45rem;
}
.unlogin_warning {
    font-size: 15px;
    padding-top: 20px;
}
.comments_list {
    font-size: 14px;
    border-bottom: 1px dashed rgba(160, 160, 160, 0.44);
    padding-bottom: 20px;
    padding-top: 20px;
}
.comments_header {
    font-weight: bold;
    color: #108ee9;
    padding-bottom: 10px;
}
.comments_header:after {
    display: block;
    content: '';
    clear: both;
}
.comments_content {

}
.comments_date {
    float: right;
    color: #737372;
    font-size: 12px;
}
.comments_input {
    height: 160px !important;
    resize: none;
}

